{% load static %}

{% block assets %}
    <link rel="stylesheet" href="{% static 'css/left-menu.css' %}">
{% endblock %}

<div class="left-menu-main-container">
    <div class="left-menu-title">
        {{ component_title }}
        <hr>
    </div>
    <div class="content">
        {% for function in functions %}
            <div class="left-menu-card" onclick="window.location='function/{{ function.id }}';">
                <div class="name">{{ function.name }}</div>
                <div class="department">{{ function.department__name }}</div>
            </div>
        {% endfor %}
    </div>
</div>