{% load static %}

{% block assets %}
    <link rel="stylesheet" href="{% static 'css/log-table.css' %}">
{% endblock %}

<div class="log-table-main-container">
    <table>
        <tr>
            <th>Function</th>
            <th>Ticket</th>
            <th>Date time</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>Function test</td>
            <td>#123456</td>
            <td>2022-01-01</td>
            <td>Error</td>
        </tr>
        <tr>
            <td>Function test</td>
            <td>#123456</td>
            <td>2022-01-01</td>
            <td>Error</td>
        </tr>
        <tr>
            <td>Function test</td>
            <td>#123456</td>
            <td>2022-01-01</td>
            <td>Error</td>
        </tr>
      </table> 
</div>