{% load static %}

{% block assets %}
    <link rel="stylesheet" href="{% static 'css/log-table.css' %}">
{% endblock %}

<div class="log-table-main-container">
    <table>
        <tr>
            <th>Function</th>
            <th>Ticket</th>
            <th>Date time</th>
            <th>Status</th>
        </tr>
        {% for log in logs.all %}
            <tr onclick="window.location='/log/{{ log.id }}';">
                <td>{{ log.function__name }}</td>
                <td>#{{ log.ticket__number }}</td>
                <td>{{ log.log_in }}</td>
                <td>
                    {% if log.id in logs.failed %}
                        Error
                    {% elif log.log_out is None %}
                        In Progress
                    {% else %}
                        Success
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
      </table> 
</div>
