table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: var(--main-color);
    color: white;
    padding: var(--space-2);
}

td {
    padding: var(--space-1) var(--space-2);
}

tr {
    cursor: pointer;
    transition: all 100ms linear;
}

tr:nth-child(1) {
    cursor: default;
}

tr:nth-child(even) {
    background-color: var(--main-bg-light);
}

tr:hover{
    background-color: #ffc8575e;
}
