:root {
    /* Colors */
    --main-color: #ffc857;
    --main-bg-color: #F8F9FA;
    --main-bg-light: #e9ecef;
    --main-bg-light-1: #dadde0;
    --main-color-dark: #343a40;

    /* Space */
    --space-1: 5px;
    --space-2: 10px;
    --space-3: 15px;
    --space-4: 20px;
}

@font-face {
    font-family: "Silkscreen";
    src: url("../fonts/Silkscreen-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    padding: var(--space-3);
    color: var(--main-color-dark);
    background-color: var(--main-bg-color);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    padding: var(--space-2);
    border-bottom: 1px solid var(--main-bg-light-1);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }